body{
    background-image: linear-gradient(to bottom, #03274d, #66a2fe);
}

.login-main{
    display: flex;
    justify-content: center;
    align-items: center; /* Added to center vertically */
    width: 100%; /* Make the container full width */
    height: 98vh; /* Make the container full height */
    text-align: center;   
}

.section-login{
    background-color: white;
    box-shadow: inset 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 15px solid #073082 ;
    border-radius: 10px;
    width: 360px;
    padding: 66px
}

.title2{
    font-size: 24px;
    font-family: Roboto;
    padding: 12px;
}

.button{
    padding: 12px;
}

.button-login{
    padding: 8px 10px;
    width: 80%;
    background-color: #073082;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
}

.input{
    padding: 5px;
}

.esqueceu-senha{
    color: #073082;
    text-decoration: none;
    font-family: Roboto;
}

.esqueceu-senha2{
    color: #073082;
    text-decoration:none;
    font-family: Roboto;
}

.esqueceu-senha3{
    color: #073082;
    text-decoration: none;
    font-style: italic;
    font-family: Roboto;
}

.esqueceu-senha3:hover{
    color:#8092b6
}

.esqueceu-senha:hover{
    color:#8092b6
}

.input{
    margin: 10px;
}

input {
    width: 250px; /* Ajuste a largura conforme necessário */
    height: 40px;
    border: 1px solid #a1a1a1; /* Borda cinza clara */
    border-radius: 25px;
    width: 84%;
    padding: 24px 10px;
    text-align: left;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
}

input:focus {
    border-color: #007bff; /* Cor da borda ao focar */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}




button:hover{
    transition:ease-in-out;
    transition-duration: 0.5s;
    background-color: #8092b6;
}


.welcome{
    font-family: Ribeye;
    font-size: 32px;
}